*.iml
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
tools/support/serviceAccountKey.json
tools/support/node_modules
server/.env
server/serviceAccountKey.json
server/node_modules